Topic 6_ Handling API Responses, Errors, and Rate Limits.json
{
  "name": "Topic 6: Handling API Responses, Errors, and Rate Limits",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d37639b3-566b-4536-8164-116d3935791d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9af807c9-55ab-4358-aa33-e89b027b3341",
              "name": "currentPage",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "a292146b-77dc-4826-aae5-d6924f9a49e3",
      "name": "Initialize Page"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b8d00b61-d93c-464b-a708-ee5e1f106192",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "95c97e27-a71c-4841-9f26-35bba39e22ee",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b44ac440-32f9-446b-830c-38caf0d3227f",
              "name": "currentPage",
              "value": "={{ $('Fetch User Page').item.json.page + 1 }}\n",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        -96
      ],
      "id": "00b2050e-9a0e-42eb-bf75-723a0b78de30",
      "name": "Increment Page"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1040,
        -96
      ],
      "id": "252d9dae-f70e-40f7-81a9-c9ad9de49f8f",
      "name": "Wait",
      "webhookId": "64281919-10e2-42d6-a324-e0a54bce9c41"
    },
    {
      "parameters": {
        "url": "=https://reqres.in/api/users?page={{$json.currentPage}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "reqres_db04dc1f0abf4cdc8fef0ea661af0cc1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "0a0af3a4-5105-4b29-94af-6e1670262986",
      "name": "Fetch User Page"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Initialize Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Page": {
      "main": [
        [
          {
            "node": "Fetch User Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Increment Page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch User Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Page": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch User Page": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f962a04e-65ab-4f08-b681-2feab6fa2a14",
  "meta": {
    "instanceId": "9e9d53952f2b4667ae0042e862ee2bef1c0d895d32c50439fa759c25e9e7e8c0"
  },
  "nodeGroups": [],
  "id": "OhhHgLx0S0IDJw4j",
  "tags": []
}