Topic 12 API & Data Storage Integration Workflow.json
{
  "name": "Topic 12 API & Data Storage Integration Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        16
      ],
      "id": "4d3a2320-e5ad-457b-8879-232418916d46",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": " https://jsonplaceholder.typicode.com/users",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        144,
        32
      ],
      "id": "544ab441-d587-4ecb-9ff6-d7119bf62d1d",
      "name": "Fetch API Users"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1yKO0P10TaUNmmErs3m70r26B9WtB2lsRcivKDUWYS5I",
          "mode": "list",
          "cachedResultName": "N8N API Storage Spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yKO0P10TaUNmmErs3m70r26B9WtB2lsRcivKDUWYS5I/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1yKO0P10TaUNmmErs3m70r26B9WtB2lsRcivKDUWYS5I/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "Name": "={{ $json.name }}",
            "Email": "={{ $json.email }}",
            "Company": "= {{ $json.company.name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        496,
        16
      ],
      "id": "c173bf0d-458f-4ec8-876e-f23d9eb1a06d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u8KjA9atP1CHmou9",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Fetch API Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch API Users": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "96067ea4-b6ba-45e0-bfb8-a2a00c19d64f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ffb66111b378206a5091421433e38579407fd38496c6d6b4eb3f34a980413a7"
  },
  "nodeGroups": [],
  "id": "BOYNqkvuFklmke2s",
  "tags": []
}